    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="">
      <div class="container">
        <leaflet lf-center="center" height="480px" width="100%"></leaflet>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <div class="col-md-6 col-sm-12" ng-repeat="event in category1 track by $index">
            <h2>{{event.headline}}</h2>
            <p>{{event.description}}</p>
            <p><a class="btn btn-default" href="#" role="button">Show on map</a></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="col-md-12" ng-repeat="event in category2 track by $index">
            <h2>{{event.headline}}</h2>
            <p>{{event.description}}</p>
            <p><a class="btn btn-default" href="#" role="button">Show on map</a></p>
          </div>
        </div>
      </div>

    </div>
