    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="">
      <div class="container">
        <leaflet markers="markers" height="480px" width="100%" center="center"></leaflet>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <h2>Cat. 1</h2>
          <div class="col-md-6 col-sm-12" ng-repeat="event in category1 track by $index">
            <p class="dates">{{event.startdate | amParse:'YYYY-MM-DD HH:mm:ss' | amDateFormat:'MM.DD.YYYY'}} - {{event.enddate | amParse:'YYYY-MM-DD HH:mm:ss' | amDateFormat:'MM.DD.YYYY'}}</p>
            <h3>{{event.headline}}</h3>
            <p class="location">{{event.country}}</p>
            <span>{{$index + 1}}</span>
            <p>{{event.description}}</p>
            <p><a class="btn btn-default" ng-click="showOnMap(event)">Show on map</a></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <h2>Cat. 2</h2>
          <div class="col-md-12" ng-repeat="event in category2 track by $index">
            <p class="dates">{{event.startdate | amParse:'YYYY-MM-DD HH:mm:ss' | amDateFormat:'MM.DD.YYYY'}} - {{event.enddate | amParse:'YYYY-MM-DD HH:mm:ss' | amDateFormat:'MM.DD.YYYY'}}</p>
            <h3>{{event.headline}}</h3>
            <p class="location"></p>
            <span>{{$index + 1}}</span>
            <p>{{event.description}}</p>
            <p><a class="btn btn-default" ng-click="showOnMap(event)">Show on map</a></p>
          </div>
        </div>
      </div>

    </div>
