<div class="events-list">
  <h3>Events</h3>
  <ul class="events" dnd-list="events" dnd-drop="updateWeight(e, index, item, external, type)">
    <li class="event" ng-repeat="event in events"
    dnd-draggable="event"
    dnd-moved="events.splice($index, 1)"
    dnd-effect-allowed="move"
    >
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="">{{event.headline}} / {{event.country}}</h4>
          <span class="">{{event.startdate | moment}} - {{event.enddate | moment}}</span>
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default">Edit</button>
            <button type="button" class="btn btn-default" ng-if="event.active == 1" ng-click="hideEvent(event)">Hide</button>
            <button type="button" class="btn btn-default" ng-if="event.active == 0" ng-click="unhideEvent(event)">Unhide</button>
            <button type="button" class="btn btn-default" ng-click="deleteEvent(event)">Delete</button>
          </div>
        </div>
        <div class="panel-body">
          {{event.description}}
        </div>
      </div>
    </li>
  </ul>
</div>
<ul dnd-list="list">
    <!-- The dnd-draggable directive makes an element draggable and will
         transfer the object that was assigned to it. If an element was
         dragged away, you have to remove it from the original list
         yourself using the dnd-moved attribute -->
    <li ng-repeat="item in list"
        dnd-draggable="item"
        dnd-moved="list.splice($index, 1)"
        dnd-effect-allowed="move"
        dnd-selected="models.selected = item"
        ng-class="{'selected': models.selected === item}"
        >
        {{item.label}}
    </li>
</ul>
